@{
    ViewData["Title"] = "Account Info";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <tr>
        <th>Name:</th>
        <td>@ViewData["firstname"] @ViewData["lastname"]</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>@ViewData["email"]</td>
    </tr>
    <tr>
        <th>SlackName:</th>
        <td>@ViewData["slackname"]</td>
    </tr>
</table>

