
@{
    ViewData["Title"] = "WeekSchedule";

}
<h2>WeekSchedule</h2>
@ViewData["weeknumbers"].ToString();
<table class="table table-hover">
    @for (int i = 1; i < int.Parse(ViewData["weeknumbers"].ToString()) + 1; i++)
    {
        <tr>
            @{Random random = new Random();
                int number = random.Next(1, 6);
            }
            @if (ViewData["weekNumber"].ToString() == i.ToString())
            {
                <td><b> Weeknummer @i.ToString(): </b></td>
                <td><b>@number.ToString()</b></td>
            }
            else
            {
                <td>WeekNumber @i.ToString(): </td>
                <td>@number.ToString()</td>
            }

        </tr>
     }
</table>
